{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Главная страница</title>
{% endblock %}

{% block content %}
        {% if user.is_authenticated %}
        <div class=" m-1">
            <div class="d-flex justify-content-center" > 
                <p>" Добро пожаловать дорогой и уважаемый {{user}}</p>    
                     
            </div>
            <a class="btn btn-success  m-3" href="/profile">
                Профиль
            </a >
            
            <a class="btn btn-success  m-3" href = "posts">
                Посты
            </a> 
            <div class="d-flex justify-content-end">
                <a class="btn btn-danger  m-3" href="/logout">
                 Выйти
                </a>
            </div>                  
        {% else%}
        <a class="btn btn-success  m-3" href = "login">
            Вход
        </a>
        <a class="btn btn-success  m-3" href = "registration">
            Регистрация
        </a>
        {%endif%}

        <div class="title-home">
            <div class="text-center" class = "fs-1">
                Добро пожаловать на сайт путешествий по Франции!
            </div>
        </div> 
        <div class="title-home">
            Дешевых и сердитых ;  Веселых и запоминающихся; И всяких, всяких, всяких. Главное, чтобы оно запомнилось Вам на всю жизнь!
        </div> 
    
        <div>
            <div class="text-center">
                <img class= "img-home" src = "{% static '3bedc525c852.jpg' %}" >
            </div>
        </div>
{% endblock %}