.img-home{
    width: 70vmax;
}

.title-home{
    color: blue;
    margin: 20px;
    font-size: large;
}

.post-title{
    color: rgb(57, 206, 77);
    margin: 20px;
    font-size: large;
}

.post-text{
    color: rgb(236, 111, 9);
    margin: 20px;
    font-size: 20px;
}

.post-content{
    color: rgb(201, 28, 201);
    margin: 20px;
    font-size: 20px;
}
